{{#if model.twitter_screen_name}}
  <div class="twitter-profile">
    <a href="https://twitter.com/{{model.twitter_screen_name}}">
      {{fa-icon "twitter"}}&nbsp;<span>Twitter profile</span>
    </a>
  </div>
{{/if}}
