{{#if model.showTwitterProfileLink}}
  <div class="twitter-profile">
    <a {{bind-attr href="model.twitterProfileUrl"}}>
      <i class="fa fa-twitter"></i>&nbsp;<span>Twitter profile</span>
    </a>
  </div>
{{/if}}
